.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.primary {
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.years {
  color: var(--tg-theme-hint-color);
  font-size: 0.9em;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  aspect-ratio: 1;
  font-weight: 600;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
}

.variants {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
