.open_button {
  pointer-events: none;
}

.form {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  div {
    flex: 1 1 100%;
  }
}

.brand_list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
