.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.open_button_wrapper {
  cursor: pointer;
}

.open_button {
  pointer-events: none;
}

.brands {
  margin-top: 10px;
}

.brand_list {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.brand_checkbox_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected_variants {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.go_back_button {
  margin-top: 10px;
  color: var(--tg-theme-button-color);
}

.models {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkboxes {
  margin-top: 10px;
  flex: 1 1 100%;
}

.checkbox_list {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stack_with_virtualized_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: calc(100vh - 200px);
  min-height: calc(100dvh - 200px);
}
