.layout_root {
  min-height: var(--tg-viewport-stable-height);
  position: relative;
  padding-bottom: 30vh;
  background-color: var(--tg-theme-bg-color);
}

.title {
  text-transform: uppercase;
  font-weight: 500;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--tg-theme-bg-color);
  border-bottom: 2px solid var(--tg-theme-secondary-bg-color);
  z-index: 100;
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--tg-theme-text-color);
}

.exit_button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.main {
  position: relative;
  padding: 0 15px;
  margin: 10px auto 0;
}
