.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title {
  display: flex;
  gap: 5px;
}

.active_title {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--tg-theme-button-color);
  }
}

.clear_button {
  color: var(--tg-theme-hint-color);
}
